@charset "utf-8";
/* Alisha Thomas 02/21/2019 "Diet Water"*/
html
{ color: white;
background-color: blue;}

body
{ color: white;
background-color: blue;} 

#main
{ padding-left: 15px;
padding-right: 15px;}

#contact{margin-top: 0px;
margin-right: auto;
margin-bottom:0px;
margin-left: auto;
width: 60%;}

nav > p > a:link{color: white;
text-decoration: none;}

 nav > p > a:visited{color: red;
text-decoration: none;}

nav > p > a:hover{color:yellow;
text-decoration: none;}


